{%load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <script src  = "{% static '/js/jquery-3.1.1.min.js'%}"></script>
      <script src  = "{% static '/js/ajax_script.js'%}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
     <link href="{% static '/css/bootstrap.min.css'%}" rel="stylesheet">

<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
  
</head>
<body>
 <div class="navbar navbar-inverse">
        <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Labka</a>
                </div>
              <ul class="nav navbar-nav">
         <li><a href="/">Додати телефон</a></li>
         <li><a href="/info/show/">Показати всі телефони</a></li>
         <li><a href  = "/interesting/">Щось цікаве</a></li>
         {% if user.is_superuser%}
         <li><a href  = "/users/">Список юзерів</a></li>
         {%endif%}
            </ul>

                   <ul class = "signin">
                 {% if user%}
              <button class = "pull-right btn btn-default"><a href = "/auth/logout">Выйти({{user.username}})</a></button>
                {% else %}
                <button class = "pull-right  btn btn-default"><a href = "/auth/login">Войти</a></button>
                {% endif %}
            </ul>
<form class="navbar-search pull-right" action="/search/" method = "get" id="form">
   <div class="input-group">
    <input type="text" class="form-control" placeholder= "Search"  name = "search"  id = "search">
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>
</form>

    </div>
</div>
    
{%  if result %}
<p> Результат :{{result}}</p>
{%endif%}
{%if phone %}
    <div id = "phones_container">
{% for i in phone %}
    <div id="phone_{{i.id}}" class = "phone_container">
     <p><a href  = "/phones_view/get/{{i.id}}">{{i.name}}</a></p>
     <p>Виробник $:{{i.manufacturer}}</p>
    <p>Ціна $:{{i.price}}</p>
    <p>Рейтинг :{{i.rate}}</p>
    <p>Дата виходу {{i.date}}</p>
{% if i.image %}
<img src  = "{{i.image.url}}">
        
{%endif%}


 
           <button class="btn  deletePhone" value="{{i.id}}" data-toggle="modal" data-target="#deleteModal">Видалити</button>
            </div>
      {%endfor%}
    </div>
<div class="modal fade" id="deleteModal" role="dialog">
        <div class="modal-dialog" style="width:30%">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Are you sure?</h4>

            </div>
            <div class="modal-footer">
                   <button class="btn pull-left " id="delete-post" value = "" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
  
<hr>
 {%else%}

 <p style="color: blue;">Телефонів нема</p>
 {%endif%}
<div class="pager">
<ul style = "color:black;">
   <span class="step-links">
        {% if phone.has_previous %}
            <a href="?page={{ phone.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ phone.number }} of {{ phone.paginator.num_pages }}.
        </span>

        {% if phone.has_next %}
            <a href="?page={{ phone.next_page_number }}">next</a>
        {% endif %}
    </span>
</ul>
</div>




 
<script src="{% static 'js/jquery.js'%}"></script> 
<script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src= "{% static '/js/my_script.js' %}"></script>

</body>
</html>